<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy"></head>
<body>
	<main class="flex-shrink-0">
		<div class="container overflow-hidden">
			<br /> <br />
			<div class="row gx-5 justify-content-center">
				<div class="col col-lg-5">
					<div class="p-3 border">
						Form information here. You can place a form into this box. Text
						will wrap around if needed.

	
					</div>

				</div>
				<div class="col col-lg-4">
					<div class="p-3 border">Testing Container Location. Some
						descriptive text or images can go here.</div>
				</div>
			</div>
		</div>
	</main>
<div th:replace="footer :: copy"></div>
</body>
</html>