<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="copy">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/flight.css">
<link rel="stylesheet" href="../css/style.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">

</head>
<body th:fragment="copy" class="d-flex flex-column h-100">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/" th:href="@{/}" >Flight Booking</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" href="#">Hotels</a> <a class="nav-link"
						href="#">Cars</a> <a class="nav-link" href="#">Packages</a>
				</div>
			</div>
			<span> <a href="/login" th:href="@{/login}">
					<button class="btn btn-sm btn-light" type="button">Login</button>
			</a> <a href="/registration" th:href="@{/registration}">
					<button class="btn btn-sm btn-light" type="button">Sign Up</button>
			</a>
			</span>
		</div>
	</nav>
</body>
</html>