<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="flight/header :: copy">

</head>
<div id="header">
	<h1>Welcome to your flight search! Find your flights below.</h1>
</div>
<body>
	<section>
		<div class="flight" id="flightbox">

			<form id="search-form" th:action="@{/flight}" th:object="${flight}"
				method="POST">
				<div id="flight-type">
					<div class="info-box">

						<input type="radio" name="flightType" value="2" id="round-trip"
							required="required" /> <label for="round-trip">&nbsp;Round
							trip</label>
					</div>
					<div class="info-box">
						<input type="radio" name="flightType" value="1" id="one-way"
							required="required" checked/> <label for="one-way">&nbsp; One
							way</label>
					</div>
				</div>
				<div id="flight-depart">
					<div class="info-box" th:object="${city}">
						<label for="">Leaving from:</label> <select class="form-control"
							id="dep-form" required th:field="*{cityName}">
							<option value="">Select City</option>
							<option th:each="city : ${cities}" th:value="${city.cityID}"
								th:text="${city.cityName}"></option>
						</select>
						<div id="arrive-res"></div>
					</div>
					<div class="info-box" id="arrive-box" th:object="${city}">
						<label for="">Arriving at:</label> <select class="form-control"
							id="dep-form" required th:field="*{cityName}">
							<option value="">Select City</option>
							<option th:each="city : ${cities}" th:value="${city.cityID}"
								th:text="${city.cityName}"></option>
						</select>
						<div id="arrive-res"></div>
					</div>
				</div>

				<div id="flight-dates">
					<div class="info-box">
						<label for="">Departure date:</label> <input type="date"
							name="leaveDate" id="leave-date" required="required" />
					</div>
					<div class="info-box" id="return-box">
						<label for="">Return date:</label> <input type="date"
							name="arriveDate" id="return-date" required="required" />
					</div>
				</div>

				<div id="flight-info">
					<div class="info-box">
						<label for="adults">Adults:</label> <select name="adults"
							id="adults" >
							
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>


					</div>
					<div class="info-box">
						<label for="children">Children:</label> <select name="children"
							id="children" >
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>


					</div>
					<div class="info-box">
						<label for="class-type">Class:</label> <select name="class-type"
							id="class-type" >
							<option value="First">First Class</option>
							<option value="Business">Business</option>
							<option value="Economy">Economy</option>
						</select>
					</div>
				</div>

				<div id="flight-search">
					<div class="info-box">

						<input  type="submit" id="search-flight" value="Search" />
					</div>
				</div>
			</form>
		</div>
     <form>
		<div th:if="${passengerValid}">
			<h1>Your current booking</h1>
			<table class="table">
				<thead>
				<tr>
					<th scope="col-md-2">Flight Number</th>
					<th scope="col-md-2">First Name</th>
					<th scope="col-md-2">Last Name</th>
					<th scope="col-md-2">Seat Number</th>

					<th scope="col-md-2">Class</th>
					<th scope="col-md-2"></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td th:text="${passenger.flightNum}" width="20px"></td>
					<td th:text="${passenger.firstName}"></td>
					<td th:text="${passenger.lastName}"></td>
					<td th:text="${passenger.seatNum}"></td>
					<td th:text="${passenger.seatClass}"></td>
					<td>
						<button class="btn btn-danger" onclick="cancelClicked()">Cancel</button>
					</td>
				</tbody>
			</table>
			</form>
		</div>

	</section>
	<div th:replace="flight/footer :: copy"></div>

	<script th:inline="javascript">
		function cancelClicked() {
			let res = confirm('Are you sure?');
			const pid = [[${passengerId}]];
			if ( res && pid >= 1) {
				var url = '/api/flights/passenger/' + pid;
				console.log(url);
				//window.alert(url);
				$(document).ready(function () {
					$.ajax({
						url: url,
						type: 'DELETE',
						success: function (result) {
							console.log(result);
							location.reload();
							return false;
						}
					});
					//console.log('Testing');
				});
			}
		}
	</script>
</body>
</html>